body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  background: #131313;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
}
::selection {
  background: #11d99b;
  color: #fff;
}
.creator-content {
  text-align: center;
}
.creator-content a {
  color: #fff;
}